/* 
.breadcrumbs {
  margin-top: 110px;
  margin-right: 110px;
  text-align: center;
  color: black;
} 

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}
.breadcrumb ol{
    text-align: center;
}*/