/* 
.breadcrumbs {
  margin-top: 110px;
  margin-right: 110px;
  text-align: center;
  color: black;
} 

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
}

.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}
.breadcrumb ol{
    text-align: center;
}*/

.breadcrumb{
    background: #0088dd;
    border-radius: 0 0 16px 17px;
  color: #efefef9d;
}

.breadcrumb a{
  color: #efefef;
}
.breadcrumb-item + .breadcrumb-item::before{
  color: #fff;
}